.member-detail {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    float: left;
    height: 100%;
    width: 45%;    
    border-right: 1px solid #E5E5E5;
}
.member-detail .member-detail-header {
    border-bottom: solid 1px #E5E5E5;
    padding-bottom: 5px;
}
.member-detail .member-detail-header #friend-name{
    padding-top: 10px;
    padding-bottom: 5px;
}

.member-detail .member-detail-header #value {
    margin-left: 20px;
    margin-right:5px;
    font-size: 16;
    font-weight: bold;
}

.clear-fix {
    clear: both;
}