.member-detail {
    display: flex;
    flex-flow: column;
    padding: 0px 20px;
    height: 100%;
}
.member-detail .member-detail-header {
    flex: 0 1 auto;
    border-bottom: solid 1px #E5E5E5;
    padding-bottom: 5px;
}
.member-detail .member-detail-header #friend-name{
    padding-top: 10px;
    padding-bottom: 5px;
}

.member-detail .member-detail-header #value {
    margin-left: 20px;
    margin-right:5px;
    font-size: 16px;
    font-weight: bold;
}
